.header{
    background-color: blueviolet;
}

.user{
    background-color: #222;
    color: #fff;
    padding: 16px;
    margin: 8px 0;
    width: 60%;
    border-radius: 8px;
}

.user:nth-child(even){
    text-align: right;
}